* {
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  width: 100%;
  flex-direction: column;
  
  align-items: center;
  /* background-color: aqua; */
}

.banner {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 700px;
  width: 100%;
  background-position: center;
  background-size:cover;
top: 40px;
  background-image: url("/images/landing.jpg");
}

.navBar {
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: rgb(252, 252, 254);
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.logo {
  height: 80%;
padding-left: 10px;
  
}
.nav {
}
.navList{display: flex;
  flex-direction: row;
list-style: none;

}
.items {
  text-decoration: none;
  color: black;
  padding: 20px;
  font-size: larger;
}
.textBaner {
  margin: 20%;
  /* background-color: blueviolet; */
  color: white;
  /* text-align: center; */
}
.title {
  /* background-color: aqua; */
  margin-bottom: 10px;
  font-size: 45px;
}

.content {
  /* background-color: rgb(43, 226, 73); */
  font-size: 24px;
}

.banner2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background-color: rgb(234, 10, 10); */
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: center;
}



.subTitle {
  text-align: center;
  margin: 40px 0px 20px;
 
  /* background-color: aqua; */
  font-size: 30px;
  border-bottom: 4px solid #4ea14e;
}

.container {
  /* background-color: rgb(161, 59, 149); */
  padding-top: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 50px;
}

.caracteritics {
  /* background-color: blue; */
  width: 20%;
  height: 100%;
justify-content: center;

  text-align: center;
}

.imgCarac {
  height: 80px;
}
.titleCarac {
  font-size: 25px;
  color: #4ea14e;
  padding-bottom: 25px;
}

.pCarac {
  font-size: 15px;
}
.banner3 {
 
  background-color: #4ea14e;
 
  height: 45%;
margin: 0px 20px;
 
}
.marginBanner{
display: flex;
margin: 30px 40px;
align-items: center;
justify-content: center;
}


.imgLoguito {
  position: absolute;
 height: 100px;
  /* background-color: blue; */
}

.left {
  display: flex;
  /* background-color: rgb(238, 255, 0); */
  flex-direction: column;
  width: 50%;
  height: 100%;
  
  color: white;
  gap: 20px;
  padding: 20px;
}


.titleBanner3 {
  /* background-color: aqua; */
  font-size: 30px;
  border-bottom: 4px solid #ffffff;
   width: 80%;
}

.subTitleBanner3 {
  font-size: 25px;
  /* background-color: blue; */
  height: 30%;
}

.pBanner3 {
  /* background-color: chocolate; */
  font-size: 15px;
  height: 50%;
  margin: 20px 40px;
}

.raight {
  display: flex;
  /* background-color: darkgoldenrod; */

  width: 50%;
  height: 100%;
 

  justify-content: center;
}
.spotifyApp {
  height: 100%;
  width: 45%;
}
